<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/asmentko">Andrew Smentkowski</a>. Andrew has aspirations that he will no longer write grants for a living and instead, will make an excellent coding monkey.
  </p>
  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'asmentko.JPG', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Andrew Smentkowski</h2>
    <br />
  <p>
    Andrew Smentkowski is the owner of Words Count, a freelance grant writing firm serving arts organizations in Detroit. Prior to forming Words Count, Smentkowski directed the Detroit Community Arts Alliance (DCAA), a collaboration of four arts education organizations in Southwest Detroit. He has been writing grant proposals for over 17 years. Previous positions include the Associate Director of Grants and Research at Northern Michigan University and the Grant Proposal Specialist at the College of St. Scholastica. In addition to his grant writing efforts, he previously owned and operated an all ages performance space in Albuquerque, New Mexico, and is currently working with a team of developers to launch a grant writing software tool.
  </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />